bitsandbytes-cuda110
bitsandbytes
evaluate
rouge-score
nltk
sentence-transformers>=0.4.1
loralib
datasets>=1.14.0
git+https://github.com/huggingface/peft.git@main
git+https://github.com/huggingface/accelerate.git@main
git+https://github.com/huggingface/transformers.git@main